body {
    background-color: #095050;
    text-align: center;
  }
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 40px;
    background-color: antiquewhite;
  }
  
  .dice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .dice-container {
    margin-right: 20px;
  }
  @keyframes rotate {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  .dice img {
    margin-right: 20px;
    animation: rotate 4s linear inherit;
  }
  
  
  .dice img {
    margin-right: 20px;
    animation: rotate 4s linear inherit;
  }
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  
  button:hover {
    background-color: #321f88;
  }
  
  #total {
    font-size: 24px;
    color: antiquewhite;
  }
  